<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688274276906-ejja3k7sp4lip2kruiva3fbml284e7e2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688274276906-ejja3k7sp4lip2kruiva3fbml284e7e2</string>
	<key>API_KEY</key>
	<string>AIzaSyCba0n7XqOmE4WfAIBBlnphK4Jv_XGv_4I</string>
	<key>GCM_SENDER_ID</key>
	<string>688274276906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>signin.pushNotification</string>
	<key>PROJECT_ID</key>
	<string>pushnotificationswift-2166e</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotificationswift-2166e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688274276906:ios:e9bb364efc17272d6cf953</string>
</dict>
</plist>